config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.accessors.chain = true
lombok.fieldDefaults.flagUsage = WARNING
lombok.fieldDefaults.defaultPrivate = true
lombok.experimental.flagUsage = WARNING
lombok.val.flagUsage = WARNING
lombok.var.flagUsage = WARNING
lombok.equalsandhashcode.donotusegetters = true
